
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="alert alert-danger"> kategori sayısı= @ViewBag.categoryCount</div>
<div class="alert alert-warning"> proje sayısı= @ViewBag.projectCount</div>
<div class="alert alert-success"> yetenek sayısı= @ViewBag.skillCount</div>
<div class="alert alert-success"> ortalama yetenek sayısı= @ViewBag.skillAvgValue</div>
<div class="alert alert-success">son yetenek = @ViewBag.lastSkilTitleName</div>
<div class="alert alert-success">son yetenek = @ViewBag.webCategoryProjectCount</div>

