@model List<denemeportfolio.Models.TblService>
@{
    ViewBag.Title = "ServiceList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h2>Servislerim</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Simge</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>
                @if (!string.IsNullOrEmpty(item.IconUrl))
                {
                    <img src="@item.IconUrl" alt="@item.Title" style="width: 50px; height: 50px;" />
                }
                else
                {
                    <span>Simge yok</span>
                }
            </td>
            <td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-danger">SİL</a></td>
        </tr>
    }
</table>

<a href="/Service/CreateService" class="btn btn-success">Yeni Hizmet Ekle</a>
